<div class="setting_section">
  <h2>Opisi materiala</h2>
  <div class="category_images_preview">
    <% if(materials) {%>
      <% materials.forEach(material => { %>
        <div class="wrap_p margin_b after">
          <h2 style="padding-bottom: 0.5rem;" class="wrap_c"><%=material%></h2>
        </div>
          <% material_data.forEach((description) => { %>
            <% if (description.material == material) {%>
              <p animate data-material="<%= material %>"><%=description.description %></p>
            <% } %>
         <% }); %>
       <% }); %>
     <% } %>
  </div>

  <form style="margin-top: 2rem;" animate action="/admin/upload" id="imageUploadForm" method="POST">
    <label for="description">Opis</label>
    <textarea name="description" id="description" rows="10"></textarea>
  
    <label for="material_img">Odaberi material:</label>
    <select name="material_img" id="material_img">
      <% materials.forEach(material => { %>
        <option value="<%= material %>">
          <%= material %>
        </option>
      <% }); %>
    </select>
    <button type="submit">Spremi</button>
  </form>
  <div id="message"></div>
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const form = document.getElementById('imageUploadForm');
  const messageDiv = document.getElementById('message');
  const materialSelect = document.getElementById('material_img');
  const descriptionTextarea = document.getElementById('description');

  // Function to update the textarea based on the selected material
  const updateDescription = () => {
    const selectedMaterial = materialSelect.value;
    const descriptionElement = document.querySelector(`p[data-material="${selectedMaterial}"]`);
    if (descriptionElement) {
      descriptionTextarea.value = descriptionElement.textContent;
    } else {
      descriptionTextarea.value = '';
    }
  };

  // Update description when the page loads
  updateDescription();

  // Update description when a new material is selected
  materialSelect.addEventListener('change', updateDescription);

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const formData = new FormData(form);

    try {
      const response = await fetch('/admin/upload', {
        method: 'POST',
        body: formData,
      });

      const responseData = await response.json();

      // Handle server response
      if (response.ok) {
        console.log(responseData);
        messageDiv.textContent = responseData.message;
        // - Update images preview
      } else {
        messageDiv.textContent = responseData.message;
      }
    } catch (error) {
      console.error('Error:', error);
      messageDiv.textContent = 'Greška prilikom slanja zahtjeva.';
    }
  });
});
</script>


<script src="/js/reveal.js"></script>
