<% if (product != null) { %>

<div class="add_product_section">
  <form id="form" action="/admin/update-product/<%= product._id %>" method="POST" enctype="multipart/form-data">
    <div class="wrap_p margin_b after">
      <h2 style="padding-bottom: 0.4rem;" class="wrap_c">Općenito</h2>
    </div> 

    <article animate class="basic_details_article" >

      <label for="name">Naziv proizvoda</label>
      <input type="text" id="name" name="name" value="<%= product.name %>" required>
      
      <div>
        <div>
          <label for="price">Cijena (€)</label>
          <input type="number" id="price" name="price" value="<%= product.price %>" required>
        </div>
        <div>
          <label for="stock_quantity">Kolicina</label>
          <input type="number" id="stock_quantity" name="stock_quantity" value="<%= product.stock_quantity %>" required>
      
        </div>
      </div>
      <label for="description">Kratak opis</label>
      <textarea id="description" name="description" required><%= product.description %></textarea>
      
    </article>

    <div class="wrap_p margin_b after">
      <h2 style="padding-bottom: 0.5rem;" class="wrap_c">Kategorije</h2>
    </div> 

   <article animate class="category_article">
      <div>
        <label for="size">Velicina</label>
        <div class="sizes" id="sizesContainer">
        <% if (product.sizes && product.sizes.length > 0){ %>
            <% product.sizes.forEach((size) => { %>
              <div>
                <input type="text" name="newSize[]" id="newSize[]" placeholder="<%= size  %>" value="<%= size %>">
                <button type="button" onclick="removeSize(this)">Izbriši</button>
              </div>
            <%  }) %>
            <% } %>
          </div>
         <button type="button" onclick="addSize()">Dodaj</button>
      </div>

      <div>
        <label for="details">Detalji</label>
        <div class="details" id="detailsContainer">
          <% if (product.details && typeof product.details === 'object') { %>
            <% Object.entries(product.details).forEach(([key, value]) => { %>
              <div class="detailsField">
                <input type="text" name="detailsKey[]" value="<%= key %>" placeholder="Upiši naslov detalja">
                <input type="text" name="detailsValue[]" value="<%= value %>" placeholder="Upiši detalj">
                <button type="button" onclick="removeDetailsField(this)">Izbriši</button>
              </div>
            <% }); %>
          <% } %>
        </div>
        <button type="button" onclick="addDetailsField()">Dodaj</button>
    
      </div>

  </article>
  
  <article animate class="category_article">
    <div>
      <label for="material">Materijal</label>
      <select name="material" id="material">
        <% materials.forEach(material => { %>
          <option value="<%= material%>" <%= product.material === material ? 'selected' : ''%> ><%= material%></option>
        <% }) %>
      </select>
      <div id="productTypeContainer">
        <input pattern="^(?=.*[a-zA-Z0-9])[a-zA-Z0-9\s]+$" type="text" class="new_material new_category" id="new_material"
         name="new_material"  placeholder="Upiši novi material" disabled>
        <input type="checkbox" onclick="addNewProductType()" name="check_new_material" id="check_new_material">
      </div>
    </div>
   
  

    <div>
      <label for="category">Nakit</label>
      <select name="category" id="category">
        <% categories.forEach(category => { %>
          <option value="<%= category%>" <%= product.category === category ? 'selected' : ''%>> <%= category %></option>
        <% }) %>
      </select>
      <div id="categoryContainer">
        <input pattern="^(?=.*[a-zA-Z0-9])[a-zA-Z0-9\s]+$" type="text" class="new_category new_category" id="new_category" name="new_category"  placeholder="Upiši novi nakit" disabled>
        <input type="checkbox" onclick="addNewcategory()" name="check_new_category" id="check_new_category">
      </div>
    </div>
    
  </article>

  <div class="wrap_p margin_b after">
    <h2 style="padding-bottom: 0.5rem;" class="wrap_c">Slike</h2>
  </div>
  <article animate>
    <div class="uploadOuter">
      <button type="button" id="uploadFile" onclick="triggerFileInput()">Postavi sliku</button>
      <strong>OR</strong>
      <span class="dragBox">
        Drag and Drop
        <input type="file" onChange="dragNdrop(event)" ondragover="drag()" ondrop="drop()" id="images" name="images" accept="image/*" multiple />
      </span>
    </div>
    <div id="preview">
    <% product.images.forEach((img) => { %>
      <div class="fileContainer">
        <p><%= img %></p>
        <img src="<%= img %>" alt="Img">
        <input type="hidden" name="existingImages[]" value="<%= img %>">
        <button type="button" onclick="removeImageField(this)">Izbriši</button>
      </div>
      <% }); %>
    </div>

  </article>

  <article >
    <div class="wrap_p margin_b after">
      <h1 style="padding-bottom: 0.5rem;" class="wrap_c">Popust</h1>
    </div> 

    <div animate  class="discount_wapper" >
      <label for="percentage">Postotak popusta (%)</label>
      <input type="number" id="percentage" name="percentage" value="<%=product.discount.percentage %>" min="0" max="100" >

      <div>
      <label for="start_date">Od <%= product.discount.start_date ? product.discount.start_date.toLocaleString() : '' %></label>
      <input type="date" id="start_date" value="<%= product.discount ? product.discount.start_date : '' %>" name="start_date" >
      
      <label for="end_date">Do <%= product.discount.end_date ? product.discount.end_date.toLocaleString() : '' %></label>
      <input type="date" id="end_date" value="<%= product.discount ? product.discount.end_date : '' %>" name="end_date" >
    </div>
      <label for="discount_active">Aktivnost</label>
      <%= product %>
      <input type="checkbox" name="discount_active"  id="discount_active" <%= product.discount.active ? "checked" : "nije" %> >
    </div>

  </article>
    <button style="margin-bottom: 1rem;" type="submit">Spremi promjene</button>
  </form>

  <form action="/admin/delete-product/<%= product._id %>" method="POST">
    <button class="input-delete" type="submit" >Izbriši</button>
  </form>

</div>
<%}%>

<script src="/js/reveal.js"></script>


<script>
   function dragNdrop(event) {
    const files = event.target.files;
    const preview = document.getElementById("preview");

    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      const fileName = file.name;

      const fileContainer = document.createElement("div");

      const previewText = document.createElement("p");
      previewText.textContent = fileName;
      fileContainer.appendChild(previewText);

      const deleteButton = document.createElement("button");
      deleteButton.textContent = "Izbriši";
      deleteButton.onclick = function () {
        fileContainer.remove();
      };

      fileContainer.appendChild(deleteButton);

      preview.appendChild(fileContainer);
    }
  }

    function removeImageField(button) {
    const fileContainer = button.parentNode;
    const imageName = fileContainer.querySelector('p').textContent;
    fileContainer.remove();
  }

  function drag() {
    document.getElementById("uploadFile").parentNode.className = "draging dragBox";
  }

  function drop() {
    document.getElementById("uploadFile").parentNode.className = "dragBox";
  }

  function triggerFileInput() {
    document.getElementById("images").click();
  }


  function addDetailsField() {
    const detailsContainer = document.getElementById('detailsContainer');

    const newDetailsField = document.createElement('div');
    newDetailsField.className = 'detailsField';

    const newInputKey = document.createElement('input');
    newInputKey.type = 'text';
    newInputKey.required = true;
    newInputKey.name = 'detailsKey[]';
    newInputKey.pattern = '^[a-zA-Z0-9]+$';
    newInputKey.placeholder = 'Upiši naslov detalja';

    const newInputValue = document.createElement('input');
    newInputValue.type = 'text';
    newInputValue.required = true;
    newInputValue.name = 'detailsValue[]';
    newInputValue.placeholder = 'Upiši detalj';

    const removeButton = document.createElement('button');
    removeButton.type = 'button';
    removeButton.textContent = 'Izbriši';
    removeButton.onclick = function () {
      newDetailsField.remove();
    };

    newDetailsField.append(newInputKey, newInputValue, removeButton);
    detailsContainer.appendChild(newDetailsField);
  }

  function removeDetailsField(button) {
    const detailsField = button.parentNode;
    detailsField.remove();
  }



  function addNewProductType(){
    if (check_new_material.checked == true){
      new_material.classList.add('isChecked');
      new_material.disabled = false;
      material.disabled = true;
      material.value = "";
      new_material.required = true;
    }
    else {
      new_material.classList.remove('isChecked');
      new_material.disabled = true;
      material.disabled = false;
      new_material.required = false;

    }
  }
  function addNewcategory(){
    if (check_new_category.checked == true){
      new_category.classList.add('isChecked');
      new_category.disabled = false;
      category.disabled = true;
      category.value = "";
      new_category.required = true;

    }
    else {
      new_category.classList.remove('isChecked');
      new_category.disabled = true;
      category.disabled = false;
      new_category.required = false;
    }
  }
  


  function addSize() {
    const detailsContainer = document.getElementById('sizesContainer');

    console.log("detailsContainer",detailsContainer )

    const newSize = document.createElement('input');
    newSize.type = 'text';
    newSize.name = 'newSize[]';
    newSize.placeholder = 'Upiši veličinu';

    const newSizeWrapper = document.createElement('div');

    const removeButton = document.createElement('button');
    removeButton.type = 'button';
    removeButton.textContent = 'Izbriši';
    removeButton.onclick = function () {
      newSizeWrapper.remove();
    };

    newSizeWrapper.append(newSize, removeButton)
    detailsContainer.append(newSizeWrapper);
  }

  function removeSize(button) {
    const detailsField = button.parentNode;
    detailsField.remove();
  }
</script>