<a class="history_back" onclick="history.back()">Vrati se</a>
<p>Ukupno korisnika: <%=users.length %></p>
<section class="section__users">
  <ul>
    <table>
      <thead>
        <tr><th></th><th>ime</th><th>telefon</th><th>email</th><th>datum izrade</th><th>uloga</th></tr>
      </thead>
      <tbody>
    <% if (users && users.length > 0 ){ %>
      <% users.forEach((user, userIndex) => { %>
            <tr data-role="<%=(user.role !== 'guest') ? user.role : "guest" %>">
                <td> <sub><%=userIndex +1%></sub></td>
                <td><%= user.first_name %> <%= user.last_name %></td>
                <td><%= user.phone %></td>
                <td><%= user.email %></td>
                <td><%= user.created_at.toLocaleDateString() %></td>
                <td><%= (user.role !== 'guest') ? user.role : "gost" %></td>
                <td><a href="/admin/user/<%= user._id %>"><button>Detaljno</button></a></td>
              </tr>
      <% });} %>
      
    </tbody>

    </table>
  </ul>
</section>