<section class="products_section reveal" >

  <ul id="productsContainer" class="reveal_img">
    <% if (products.length > 0) { %>
      <% if (products !== '') { %>
        <% products.forEach(product => { %>
          <li id="product"  data-animate class="reveal_img_item product" >
            <a href="/product/<%=product.name.trim().replace(/\s+/g, '-').toLowerCase()%>-<%=product._id%>" class="reveal_img_inner">
              <div class="img reveal_img_bl ">
                  <img class="reveal_img_img" src="<%= product.images[0] %>" alt="<%= product.name %>">
              </div>

              <div class="details">
                <span>
                  <h3><%= product.name %></h3>
                  <strong><%= product.price %> €</strong>
                </span>
                <% if (product.material) { %>
                  <span class="category"><%= product.material %></span>
                <% } else { %>
                  <span></span>
                <% } %>
                </div>
            </a>
          </li>
        <% }); %>

      <% } %>
    <% } else { %>
      <p>No products found.</p>
    <% } %>
        
  </ul>

</section>
<script src="/js/reveal.js"  defer></script>
 
