<% if (order) {%>
<section class="order_section">
  <form id="cancel_order_form" action="/order/cancel-order/<%=order._id %>" method="POST">

    <div class="order_line">
        <div>
          <h4>Datum narudžbe</h4>
          <span><%= order.order_date.toLocaleString() %></span>
        </div>

        <div>
          <h4>Šifra</h4>
          <span><%= order._id %></span>
        </div>

        <div>
          <h4>Plaćanje</h4>
          <span class="order-value"><%= order.payment_method == 'cod' ? 'Pouzeće' : 'Kartično plaćanje' %></span>
        </div>

        <div>
          <h4>Adresa dostave</h4>
          <span class="order-value"><%= order.address.region %></span>
          <span class="order-value"><%= order.address.street %></span>
          <span class="order-value"><%= order.address.city %></span>
          <span class="order-value"><%= order.address.zip_code %></span>

      </span>
        </div>
    </div>

    <div class="order">
      <div class="order-item">
        <span class="order-label">Ime:</span>
        <span class="order-value"><%= order.user.first_name %></span>
      </div>
      <div class="order-item">
        <span class="order-label">Prezime:</span>
        <span class="order-value"><%= order.user.last_name %></span>
      </div>
      <div class="order-item">
        <span class="order-label">Email:</span>
        <span class="order-value"><%= order.user.email %></span>
      </div>
      <div class="order-item">
        <span class="order-label">Mobilni:</span>
        <span class="order-value"><%= order.user.phone %></span>
      </div>
      <div class="order-item">
        <span class="order-label">Ukupni iznos:</span>
        <span class="order-value">$<%= order.total_amount.toFixed(2) %></span>
      </div>
      <div class="order-item">
        <span class="order-label">Stanje narudžbe:</span>
        <span class="order-value"><%= order.status %></span>
      </div>
      <div class="order-product">
    
      <% order.cart_items.forEach((item, index) => { %>

          <h3>Proizvod <%= index + 1 %></h3>

            <div class="product-wrapper">
              <div class="order-item">
                <img src="<%= item.product.image %>" alt="<%= item.product.name %>">
              </div>
              <div class="order-item">
                <span class="order-label">Naziv proizvoda: <span class="order-value"><%= item.product.name %></span></span>
              <% if (item.product.discount && item.product.discount.active) { %>
                  <span class="order-label">Cijena jednog proizvoda uz popust:   <span class="order-value">$<%= (item.product.price - (item.product.price * (item.product.discount.active ? item.product.discount.percentage / 100 : 0))).toFixed(2) %></span></span>
                
                  <span class="order-label">Popust:  <span class="order-value"><%= item.product.discount.percentage %> %</span></span>
                 
              <% } else { %>
                  <span class="order-label">Cijena jednog proizvoda:   <span class="order-value">$<%= item.product.price %></span></span>
                
              <% } %>
                <span class="order-label">Količina:  <span class="order-value"><%= item.quantity %></span></span>
              </div>
              <div class="order-item">
               
                <span class="order-label">Materijal: <span class="order-value"><%= item.product.material %></span></span>
                
                <span class="order-label">Kategorija: <span class="order-value"><%= item.product.category %></span></span>
    
              <% if (item.sizes) { %>
                  <span class="order-label">Veličina: <span class="order-value"><%= item.sizes %></span></span>
                  
                </div>
              <% } %>
            </div>
        </div>
      <% }) %>
     
    </div>
     
      <div class="pop_message"></div>
   
  </form>
  <% if (order.status == 'U tijeku') {%>
    <button data-order-id="<%=order._id %>" class="input-submit"  type="submit" >Prekini narudžbu</button>
  <%}%>
</section>

<% } %>


<script>
const sub_btn = document.querySelector('.input-submit');

const loginUser = async (e) =>{
  try {
            e.preventDefault();

            const pop_message = document.querySelector('.pop_message');
            const form = document.querySelector('.login_form');


            const response = await fetch(`/order/cancel-order/<%=order._id %>`, {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json'
                  },
            });
            const data = await response.json();

            if (response.ok) {

              if (data.success) window.location.href = data.redirect_url;
              else if (data.error) pop_message.textContent = data.error;
            } 
            else 
               pop_message.textContent = 'Greška, molimo pokušajte kasnije.';


          } catch (error) {
              console.error('Error:', error);
          }

}

sub_btn.addEventListener('click', loginUser);
sub_btn.addEventListener('touch', loginUser);




  
</script>

