<section class="profil">

  <form class="formm" action="/profil/<%= user.id %>" method="POST"   >
      <article>
        <div class="wrap_p margin_b after">
          <h2 style="padding-bottom: 0.4rem;" class="wrap_c">Osobni podaci</h2>
        </div> 
        <div animate>
          <div>
            <input type="text" title="Ime" name="profil_first_name" id="profil_first_name" value="<%= user.first_name %>" placeholder="<%= user.first_name %>" disabled required>
            <input type="checkbox" title="Uredi"  name="profil_first_name_checkbox" id="profil_first_name_checkbox">
            <input type="text" title="Prezime" name="profil_last_name" id="profil_last_name" value="<%= user.last_name %>" placeholder="<%= user.last_name %>" disabled required>
            <input type="checkbox" title="Uredi"  name="profil_last_name_checkbox" id="profil_last_name_checkbox">
          </div>

          <div>
            <input type="text" name="profil_email" title="E-mail" id="profil_email" value="<%= user.email %>" placeholder="<%= user.email %>" disabled required>
            <input type="checkbox" title="Uredi"  name="profil_email_checkbox" id="profil_email_checkbox">
        
            <input type="tel" name="profil_phone" title="Telefon" maxlength="20"  id="profil_phone" value="<%= user.phone %>" placeholder="<%= user.phone %>" disabled required>
            <input type="checkbox" title="Uredi"  name="profil_phone_checkbox" id="profil_phone_checkbox">
          </div>
        </div>
      </article>

      <article animate>
        <div class="wrap_p margin_b after">
          <h2 style="padding-bottom: 0.4rem;" class="wrap_c">Mjesni podaci</h2>
        </div> 
        <div>
         <div>
          <input type="text" name="profil_hardcoded_region" title="Država" id="profil_hardcoded_region" value="<%= user.address.region %>" placeholder="<%= user.address.region %>" disabled required>
          <input type="text" name="profil_address_street" title="Ulica" id="profil_address_street" value="<%= user.address.street %>" placeholder="<%= user.address.region %>" disabled required>
         </div>
         <div>
          <input type="text" name="profil_address_city" title="Grad" id="profil_address_city" value="<%= user.address.city %>" placeholder="<%= user.address.region %>" disabled required>
          <input type="text" name="profil_address_zip_code" title="Poštanski broj" id="profil_address_zip_code" value="<%= user.address.zip_code %>" placeholder="<%= user.address.region %>" disabled required>
         </div>
         <div>
          <input type="checkbox" title="Uredi"  name="profil_address_checkbox" id="profil_address_checkbox">
         </div>
        </div>
      </article>
     
  
    <article animate>
      <div class="wrap_p margin_b after">
        <h2 style="padding-bottom: 0.4rem;" class="wrap_c">Ostalo</h2>
      </div> 
      <div>
        <div>
          <label for="profil_created_at">Kreiran</label>
          <input type="text" id="profil_created_at"  placeholder="<%= (user.created_at).toLocaleDateString() %>" disabled>
    
          <label for="profil_updated_at">Ažuriran</label>
          <input type="text" id="profil_updated_at"  placeholder="<%= (user.updated_at).toLocaleString() %>" disabled>
      
        </div>
      </div>
    </article>

   <article animate>
    <div>
      <div>
        <button type="submit" >Spremi promjene</button>
        <a class="logout" href="/logout"><button onclick="location.href='/logout'">Odjavi se</button></a>
      </div>
    </div>
   </article>
  </form>


</section>


<section class="user_orders_section">


<div class="wrap_p margin_b after">
  <h2 style="padding-bottom: 0.4rem;" class="wrap_c">Vaše narudžbe</h2>
</div> 
<article animate>
  <p>Narudžbe je moguće otkazati ukoliko narudžba nije procesirana, odnosno ako je status narudžbe jednak "U tijeku"</p>
  <% if (orders && orders.length > 0){ %>
    <input type="text" id="orderSearch" class="order_search" placeholder="Pretraži narudžbe">
     <table class="orders_table" >
      <thead>
        <tr>
          <th>Redni broj</th>
          <th>Šifra narudžbe</th>
          <th>Korisnik</th>
          <th>Datum narudzbe</th>
          <th>Ukupni iznos</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% orders.reverse().forEach((order, orderIndex) => { %>
          <tr onclick="location.href='/profil/order/<%= order._id %>'" class="order-row <%= (order.status == 'Dostavljeno') ? 'delivered' : '' %>">
            <td class="order-num"><%= orders.length - orderIndex %></td>
            <td class="order-id"><%= order._id %></td>
            <td class="order-user"><%= order.user.first_name %> <%= order.user.last_name %></td>
            <td class="order-date"><%= order.order_date.toDateString() %></td>
            <td class="order-amount"><%= order.total_amount.toFixed(2) %>€</td>
            <td class="order-status"><%= order.status %></td>
          </tr>
       
        <% }); %>
      </tbody>
    </table>
  
  <% } %>
</article>
    

</section>

<script>
const checkboxes = document.querySelectorAll('input[type="checkbox"]');

checkboxes.forEach(checkbox => {
  checkbox.addEventListener('change', function() {
    const inputId = checkbox.id.replace('_checkbox', '');
    const input = document.getElementById(inputId);
    
    if (inputId.startsWith('profil_address')) {
      const addressInputs = document.querySelectorAll('[id^="profil_address"]');
      addressInputs.forEach(addressInput => {
        if (checkbox.checked) {
          addressInput.disabled = false;
        } else {
          addressInput.disabled = true;
        }
      });
    } else {
      if (this.checked) {
        input.disabled = false;
      } else {
        input.disabled = true;
      }
    }
  });
});


const searchTerm = document.getElementById('orderSearch');
    const rows = document.querySelectorAll('table.orders_table tbody tr');

    searchTerm.addEventListener('input', function() {
        const searchTerm = this.value.toLowerCase();

        rows.forEach(row => {
            const orderNum = row.querySelector('.order-num').textContent.toLowerCase();
            const orderId = row.querySelector('.order-id').textContent.toLowerCase();
            const orderUser = row.querySelector('.order-user').textContent.toLowerCase();
            const orderDate = row.querySelector('.order-date').textContent.toLowerCase();
            const orderAmount = row.querySelector('.order-amount').textContent.toLowerCase();
            const orderStatus = row.querySelector('.order-status').textContent.toLowerCase();

            const rowText = `${orderNum} ${orderId} ${orderUser} ${orderDate} ${orderAmount} ${orderStatus}`;

            if (rowText.includes(searchTerm)) {
                row.style.visibility = 'visible';
                row.style.display = ''; 
            } else {
                row.style.visibility = 'hidden';
                row.style.display = 'none'; 
            }
        });
    });
</script>
